@use "../variables" as *;
@use "../mixins" as *;

/* ----------------------------------------
   Hero Section 
   ---------------------------------------- */

#hero-section {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: $text;

    &__content {
      @include container;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__cta {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      gap: 15px;
    }

    &__buy-btn {
      display: inline-block;
      margin-top: -50px;
      margin-bottom: 15px;
    }

    &__price {
      font-size: 1rem;
      color: $text;
    }

    &__video {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}
